<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/users">Users</a></p>
    <p><a href="/articles">Articles</a></p>
    <p><a href="/comments">Comments</a></p>
    <p><a href="/merchandise">Merchandise</a></p>
    <p><a href="/privacy">Privacy</a></p>
    <p><a href="/about">About Us</a></p>
    <p><a href="/contact">Contact Us</a></p>
  </body>
</html>
